<GeneralContainer>
  <div class="product item-details-page">
    <Product::Image @src={{this.productImage}}/>
    <Product::Details
      @name={{this.model.name}}
      @price={{this.model.price}}
      @color={{this.color}}
      @description = {{this.description}}/>
  </div>
  <h5 class="mt-5">Features</h5>
  {{this.model.features}}
</GeneralContainer>